<div class="body-container">
  <form (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>
    <select [(ngModel)]="loginData.userType" name="role" required class="input-field">
      <option value="" disabled selected>Select Role</option>
      <option value="ADMIN">Admin</option>
      <option value="CUSTOMER">Customer</option>
    </select>
    <input [(ngModel)]="loginData.email" name="email" type="email" placeholder="Email" required class="input-field" />
    <input [(ngModel)]="loginData.password" name="password" type="password" placeholder="Password" required class="input-field" />
    <button type="submit" class="login-button">Login</button>
    <p class="signup-text">Don't you have an account? <a (click)="navigateToSignup()" class="signuplink">Signup</a></p>
    <!-- Error message display -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
